<noscript>
  <p><%= gettext("You need to enable Javascript to access the workspace.") %></p>
  <p phx-no-format><%= gettext("If you need any help, feel free <a href='mailto:support+admin@tailscale.com'>to contact us</a>.") %></p>
</noscript>
<div id="app" class="contents"></div>
